/* General Styles
 *--------------------------------------------------------------- */
html, body {
  margin: 0 auto;
  width: 1000px; }

/* Header
 *--------------------------------------------------------------- */
header {
  border-bottom: 1px solid #eee;
  height: 62px; }

/* UI Components
 *--------------------------------------------------------------- */
.ch-box-lite {
  position: relative; }

/* Carousel Demo
 * --------------------------------------------------------------- */
.myCarousel .ch-carousel-item {
  width: 100px;
  height: 100px; }
.myCarousel img {
  max-width: 100%;
  max-height: 100%; }

/* Innerpages
 * --------------------------------------------------------------- */
.main-page {
  margin-top: 30px;
  overflow: hidden;
  padding: 20px; }
  .main-page .ch-g4-5 > .ch-leftcolumn {
    margin-right: 50px; }

/* Custom Properties
 * --------------------------------------------------------------- */
.myCarousel {
  width: 500px; }

.article-carousel {
  margin: 0px; }

.main-title {
  font-size: 2.3em;
  line-height: 1.2em;
  margin-bottom: 20px; }

span.price {
  font-size: 25px;
  color: #900;
  font-weight: 700; }

fieldset {
  margin-bottom: 9px; }

.ch-form-hint {
  margin-left: 0; }

.buy {
  margin-bottom: 10px; }

.quantity-label {
  margin-right: 19px; }

.payments-label {
  margin-right: 10px; }

.text-info {
  color: #3a87ad; }

.text-ok {
  color: #468847; }